<div class="carousel slide main-shell" data-ride="carousel" id="carouselShell">
    <div class="carousel-inner carousel-content">
        <div class="carousel-item">
            <div class="w-100 d-block">1</div>
        </div>
        <div class="carousel-item active">
            <div class="w-100 d-block">2</div>
        </div>
        <div class="carousel-item">
            <div class="w-100 d-block">3</div>
        </div>
    </div>
    <a href="#carouselShell" class="carousel-control carousel-control-prev" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a href="#carouselShell" class="carousel-control carousel-control-next" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>