
// Colors
$green-sea: #16a085;
$sun-flower: #f1c40f;

$bg-primary: $green-sea;
$text-primary: $sun-flower;

$bg-secondary: $sun-flower;
$text-secondary: $green-sea;

// Fonts
$font-family-montserrat: 'Montserrat', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-bolder: 600;

// Sizes
$text-size-small: 10px;
$text-size-medium: 14px;
$text-size-large: 18px;